<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <meta charset="utf-8">
        <title>Assassin App</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="styles/main.css">
        <script src="bower_components/angular/angular.js"></script>
        <script src="scripts/mainapp.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        <div class="container">
            <div class="col-xs-12 text-center">
                <p>There are {{assassins.length}} assassins.</p>
                <button class="btn btn-default btn-large" ng-click="startGame()">Begin</button>
            </div>
            <div class="col-xs-12 text-center active-assassin">
                Hello {{activeAssassin.name}}. Your target is {{activeAssassin.target.name}}
                <img ng-src="{{activeAssassin.target.src}}" alt="" class="img-responsive img-circle">
            </div>
            <div class="col-xs-4 col-md-3 text-center" ng-repeat="assassin in assassins">
                <img ng-src="{{assassin.src}}" class="img-responsive img-circle" alt="">
                <p>Target: {{assassin.target.name}}</p>
            </div>
        </div>
    </body>
</html>
